@media screen and (max-width: 480px) {
  .topic {
    font-family: JetBrains Mono;
    font-size: 10px;
    color: white;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: center;
  }
}
.tracks_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: flex-start;
}
.first-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  column-gap: 1rem;
  justify-content: space-evenly;
}
.boxes {
  background: rgba(0, 0, 0, 0.5);
  border-width: 10px;
  border-style: solid;
  border-width: 5px;
  border-image: linear-gradient(
      45deg,
      rgba(32, 100, 218, 1),
      rgba(138, 177, 244, 1),
      rgba(255, 190, 157, 1),
      rgba(231, 52, 39, 1)
    )
    1;
  border-radius: 20px;
  padding: 48px 24px 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  transition: transform 1500ms ease-in-out;
}

.boxes:hover {
  transform: rotateY(360deg);
  background-color: black;
  cursor: pointer;
}

.boxes:nth-child(3) {
  margin-right: 0;
}

.topic {
  font-family: JetBrains Mono;
  font-size: 30px;
  color: white;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: center;
}

.tracks_content {
  /* display: none; */
  width: 80%;
  margin-inline: auto;
  color: white;
  font-family: JetBrains Mono;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 550px) {
  section {
    margin: auto;
  }
  .first-row {
    display: flex;
    flex-direction: column;
  }
  .boxes {
    width: 84%;
    margin-bottom: 0.5rem;
  }
  .tracks_content {
    width: 100%;
  }
}
