.title_container{
    display:flex;
    align-items: center;
    margin-top:1.5rem;
    font-weight: 700;
    text-shadow: 2.02971px 2.02971px 20.2971px rgba(255, 255, 255, 0.5);
    font-family: 'JetBrains Mono', monospace;
    text-transform: uppercase;
}
.title_container img{
    height:3rem;
    object-fit: cover;
}