*,::before,::after{
  margin:0;
  padding:0;
}
body{
  background-image: url("./assets/bgImg.jpeg");
  background-size:repeat;
  /* border:1px solid red; */
  /* font-family: 'JetBrains Mono', monospace; */
}